<ion-view view-title="Like/Dislike">
  <ion-content>
    <h1>Vos Dislikes</h1>
    <ion-list>
      <ion-item ng-repeat="like in liked">
        <ion ng-repeat="user in alreadyVoted">
          <ion ng-show="{{ like.user_id }} == {{ user.id }}">
            {{user.name}} {{user.lastname}} - {{user.age}} ans - {{like.id}}
            <button class="button button-balanced" ng-click="like({{like.id}})"><i class="fa fa-heart"></i></button>
            <button class="button button-energized" ng-click="dislike({{like.id}})"><i class="fa fa-ban"></i></button>
          </ion>
        </ion>
      </ion-item>
      <button ng-click="refreshList()"> Refresh</button>

    </ion-list>
  </ion-content>
</ion-view>
